Questionnaire.Web/App_Data/Schemas/old StyleWeb.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Styles">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="Style">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="StyleWebGUID" type="xs:string" />
                            <xs:element name="NomStyleWeb" type="xs:string" />
                            <xs:element name="Type" type="xs:string" />
                            <xs:element name="Applicable" type="xs:boolean" />
                            <xs:element name="BackColor" type="xs:string" />
                            <xs:element name="BorderColor" type="xs:string" />
                            <xs:element name="BorderStyle" type="xs:unsignedByte" />
                            <xs:element name="BorderWidth" type="xs:unsignedShort" />
                            <xs:element name="ForeColor" type="xs:string" />
                            <xs:element name="Width" type="xs:unsignedShort" />
                            <xs:element name="Height" type="xs:unsignedShort" />
                            <xs:element name="FontName" type="xs:string" />
                            <xs:element name="FontSize" type="xs:unsignedShort" />
                            <xs:element name="Bold" type="xs:boolean" />
                            <xs:element name="Underline" type="xs:boolean" />
                            <xs:element name="Strikeout" type="xs:boolean" />
                            <xs:element name="Italic" type="xs:boolean" />
                            <xs:element name="Overline" type="xs:boolean" />
                            <xs:element name="TextAlign" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>