Survey-online.Web/App_Data/Schemas/MemberSettings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="_MemberSettings">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="MemberSettings">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Approuve" type="xs:boolean" />
                            <xs:element name="TaillePageQuestions" type="xs:string" />
                            <xs:element name="BoutonQuestionSuivanteTexte" type="xs:string" />
                            <xs:element name="BoutonQuestionSuivanteAlt" type="xs:string" />
                            <xs:element name="PrevenirNouvelleReponse" type="xs:boolean" />
                            <xs:element name="MenuExpert" type="xs:boolean" />
                            <xs:element name="MenuColonne" type="xs:boolean" />
                            <xs:element name="AfficherAide" type="xs:boolean" />
                            <xs:element name="AfficherAideEnLigne" type="xs:boolean" />
                            <xs:element name="BarreNavigation" type="xs:boolean" />
                            <xs:element name="MenuToujoursVisible" type="xs:boolean" />
                            <xs:element name="MenuToujoursVisiblePosition" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>