Survey-online.Web/App_Data/Schemas/MemberData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="MemberDatas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="MemberData">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MemberGUID" type="xs:string" />
                            <xs:element name="NomUtilisateur" type="xs:string" />
                            <xs:element name="DateCreation" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>